In [20]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime as dt
import seaborn as sns
import re

In [21]:
pokemon = {"name": ['Bulbasaur', 'Charmander','Squirtle','Caterpie'],
            "evolution": ['Ivysaur','Charmeleon','Wartortle','Metapod'],
            "type": ['grass', 'fire', 'water', 'bug'],
            "hp": [45, 39, 44, 45],
            "pokedex": ['yes', 'no','yes','no']                        
            }

In [22]:
pokemon

{'name': ['Bulbasaur', 'Charmander', 'Squirtle', 'Caterpie'],
 'evolution': ['Ivysaur', 'Charmeleon', 'Wartortle', 'Metapod'],
 'type': ['grass', 'fire', 'water', 'bug'],
 'hp': [45, 39, 44, 45],
 'pokedex': ['yes', 'no', 'yes', 'no']}

In [23]:
pokemon = pd.DataFrame({"name": ['Bulbasaur', 'Charmander','Squirtle','Caterpie'],
            "evolution": ['Ivysaur','Charmeleon','Wartortle','Metapod'],
            "type": ['grass', 'fire', 'water', 'bug'],
            "hp": [45, 39, 44, 45],
            "pokedex": ['yes', 'no','yes','no']                        
            })

In [24]:
pokemon

         name   evolution   type  hp pokedex
0   Bulbasaur     Ivysaur  grass  45     yes
1  Charmander  Charmeleon   fire  39      no
2    Squirtle   Wartortle  water  44     yes
3    Caterpie     Metapod    bug  45      no

In [25]:
pokemon = pokemon[['name','type','hp','evolution','pokedex']]

In [26]:
pokemon

         name   type  hp   evolution pokedex
0   Bulbasaur  grass  45     Ivysaur     yes
1  Charmander   fire  39  Charmeleon      no
2    Squirtle  water  44   Wartortle     yes
3    Caterpie    bug  45     Metapod      no

In [27]:
pokemon["places"] = ['lakes','parks','hills','forest']

C:\Users\CC\AppData\Local\Temp\ipykernel_10344\3595906810.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pokemon["places"] = ['lakes','parks','hills','forest']

In [28]:
pokemon

         name   type  hp   evolution pokedex  places
0   Bulbasaur  grass  45     Ivysaur     yes   lakes
1  Charmander   fire  39  Charmeleon      no   parks
2    Squirtle  water  44   Wartortle     yes   hills
3    Caterpie    bug  45     Metapod      no  forest

In [29]:
df.info()

NameError: name 'df' is not defined

In [30]:
df = pd.DataFrame(pokemon)

In [31]:
wine = pd.read_csv("wine.txt", delimiter="\t", header=None)

In [32]:
wine

                                                     0
0    1,14.23,1.71,2.43,15.6,127,2.8,3.06,.28,2.29,5...
1    1,13.2,1.78,2.14,11.2,100,2.65,2.76,.26,1.28,4...
2    1,13.16,2.36,2.67,18.6,101,2.8,3.24,.3,2.81,5....
3    1,14.37,1.95,2.5,16.8,113,3.85,3.49,.24,2.18,7...
4    1,13.24,2.59,2.87,21,118,2.8,2.69,.39,1.82,4.3...
..                                                 ...
173  3,13.71,5.65,2.45,20.5,95,1.68,.61,.52,1.06,7....
174  3,13.4,3.91,2.48,23,102,1.8,.75,.43,1.41,7.3,....
175  3,13.27,4.28,2.26,20,120,1.59,.69,.43,1.35,10....
176  3,13.17,2.59,2.37,20,120,1.65,.68,.53,1.46,9.3...
177  3,14.13,4.1,2.74,24.5,96,2.05,.76,.56,1.35,9.2...

[178 rows x 1 columns]

In [33]:
wine = pd.DataFrame(wine)

In [34]:
wine

                                                     0
0    1,14.23,1.71,2.43,15.6,127,2.8,3.06,.28,2.29,5...
1    1,13.2,1.78,2.14,11.2,100,2.65,2.76,.26,1.28,4...
2    1,13.16,2.36,2.67,18.6,101,2.8,3.24,.3,2.81,5....
3    1,14.37,1.95,2.5,16.8,113,3.85,3.49,.24,2.18,7...
4    1,13.24,2.59,2.87,21,118,2.8,2.69,.39,1.82,4.3...
..                                                 ...
173  3,13.71,5.65,2.45,20.5,95,1.68,.61,.52,1.06,7....
174  3,13.4,3.91,2.48,23,102,1.8,.75,.43,1.41,7.3,....
175  3,13.27,4.28,2.26,20,120,1.59,.69,.43,1.35,10....
176  3,13.17,2.59,2.37,20,120,1.65,.68,.53,1.46,9.3...
177  3,14.13,4.1,2.74,24.5,96,2.05,.76,.56,1.35,9.2...

[178 rows x 1 columns]

In [35]:
type(wine)

pandas.core.frame.DataFrame

In [36]:
wine

                                                     0
0    1,14.23,1.71,2.43,15.6,127,2.8,3.06,.28,2.29,5...
1    1,13.2,1.78,2.14,11.2,100,2.65,2.76,.26,1.28,4...
2    1,13.16,2.36,2.67,18.6,101,2.8,3.24,.3,2.81,5....
3    1,14.37,1.95,2.5,16.8,113,3.85,3.49,.24,2.18,7...
4    1,13.24,2.59,2.87,21,118,2.8,2.69,.39,1.82,4.3...
..                                                 ...
173  3,13.71,5.65,2.45,20.5,95,1.68,.61,.52,1.06,7....
174  3,13.4,3.91,2.48,23,102,1.8,.75,.43,1.41,7.3,....
175  3,13.27,4.28,2.26,20,120,1.59,.69,.43,1.35,10....
176  3,13.17,2.59,2.37,20,120,1.65,.68,.53,1.46,9.3...
177  3,14.13,4.1,2.74,24.5,96,2.05,.76,.56,1.35,9.2...

[178 rows x 1 columns]

In [37]:
wine = pd.read_csv("wine.txt" , header = None)

In [38]:
wine.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

In [39]:
print(wine.columns)

Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13], dtype='int64')

In [40]:
print(wine.index)

RangeIndex(start=0, stop=178, step=1)

In [41]:
wine.iloc[14]

0        1.00
1       14.38
2        1.87
3        2.38
4       12.00
5      102.00
6        3.30
7        3.64
8        0.29
9        2.96
10       7.50
11       1.20
12       3.00
13    1547.00
Name: 14, dtype: float64

In [42]:
wine.drop(columns=[0,3,6,8,10,12,13], inplace=True)

In [43]:
wine

        1     2     4    5     7     9     11
0    14.23  1.71  15.6  127  3.06  2.29  1.04
1    13.20  1.78  11.2  100  2.76  1.28  1.05
2    13.16  2.36  18.6  101  3.24  2.81  1.03
3    14.37  1.95  16.8  113  3.49  2.18  0.86
4    13.24  2.59  21.0  118  2.69  1.82  1.04
..     ...   ...   ...  ...   ...   ...   ...
173  13.71  5.65  20.5   95  0.61  1.06  0.64
174  13.40  3.91  23.0  102  0.75  1.41  0.70
175  13.27  4.28  20.0  120  0.69  1.35  0.59
176  13.17  2.59  20.0  120  0.68  1.46  0.60
177  14.13  4.10  24.5   96  0.76  1.35  0.61

[178 rows x 7 columns]

In [44]:
wine = wine.rename(columns={1:'alcohol',2:'malic_acid',4:'alcalinity_of_ash',5:'magnesium',7:'flavanoids',9:'proanthocyanins',11:'hue'})

In [45]:
wine

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,14.23,1.71,15.6,127,3.06,2.29,1.04
1,13.20,1.78,11.2,100,2.76,1.28,1.05
2,13.16,2.36,18.6,101,3.24,2.81,1.03
3,14.37,1.95,16.8,113,3.49,2.18,0.86
4,13.24,2.59,21.0,118,2.69,1.82,1.04
...,...,...,...,...,...,...,...
173,13.71,5.65,20.5,95,0.61,1.06,0.64
174,13.40,3.91,23.0,102,0.75,1.41,0.70
175,13.27,4.28,20.0,120,0.69,1.35,0.59
176,13.17,2.59,20.0,120,0.68,1.46,0.60
177,14.13,4.10,24.5,96,0.76,1.35,0.61

In [46]:
wine.loc[[0,1,2], 'alcohol'] = np.nan

In [47]:
wine

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,NaN,1.71,15.6,127,3.06,2.29,1.04
1,NaN,1.78,11.2,100,2.76,1.28,1.05
2,NaN,2.36,18.6,101,3.24,2.81,1.03
3,14.37,1.95,16.8,113,3.49,2.18,0.86
4,13.24,2.59,21.0,118,2.69,1.82,1.04
...,...,...,...,...,...,...,...
173,13.71,5.65,20.5,95,0.61,1.06,0.64
174,13.40,3.91,23.0,102,0.75,1.41,0.70
175,13.27,4.28,20.0,120,0.69,1.35,0.59
176,13.17,2.59,20.0,120,0.68,1.46,0.60
177,14.13,4.10,24.5,96,0.76,1.35,0.61

In [48]:
wine.loc[[3,4], 'magnesium'] = np.nan

In [49]:
wine

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,NaN,1.71,15.6,127.0,3.06,2.29,1.04
1,NaN,1.78,11.2,100.0,2.76,1.28,1.05
2,NaN,2.36,18.6,101.0,3.24,2.81,1.03
3,14.37,1.95,16.8,NaN,3.49,2.18,0.86
4,13.24,2.59,21.0,NaN,2.69,1.82,1.04
...,...,...,...,...,...,...,...
173,13.71,5.65,20.5,95.0,0.61,1.06,0.64
174,13.40,3.91,23.0,102.0,0.75,1.41,0.70
175,13.27,4.28,20.0,120.0,0.69,1.35,0.59
176,13.17,2.59,20.0,120.0,0.68,1.46,0.60
177,14.13,4.10,24.5,96.0,0.76,1.35,0.61

In [50]:
wine.loc[[0,1,2], 'alcohol'] = 10

In [51]:
wine

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,10.00,1.71,15.6,127.0,3.06,2.29,1.04
1,10.00,1.78,11.2,100.0,2.76,1.28,1.05
2,10.00,2.36,18.6,101.0,3.24,2.81,1.03
3,14.37,1.95,16.8,NaN,3.49,2.18,0.86
4,13.24,2.59,21.0,NaN,2.69,1.82,1.04
...,...,...,...,...,...,...,...
173,13.71,5.65,20.5,95.0,0.61,1.06,0.64
174,13.40,3.91,23.0,102.0,0.75,1.41,0.70
175,13.27,4.28,20.0,120.0,0.69,1.35,0.59
176,13.17,2.59,20.0,120.0,0.68,1.46,0.60
177,14.13,4.10,24.5,96.0,0.76,1.35,0.61

In [52]:
wine.loc[[3,4], 'magnesium'] = 100

In [53]:
wine

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,10.00,1.71,15.6,127.0,3.06,2.29,1.04
1,10.00,1.78,11.2,100.0,2.76,1.28,1.05
2,10.00,2.36,18.6,101.0,3.24,2.81,1.03
3,14.37,1.95,16.8,100.0,3.49,2.18,0.86
4,13.24,2.59,21.0,100.0,2.69,1.82,1.04
...,...,...,...,...,...,...,...
173,13.71,5.65,20.5,95.0,0.61,1.06,0.64
174,13.40,3.91,23.0,102.0,0.75,1.41,0.70
175,13.27,4.28,20.0,120.0,0.69,1.35,0.59
176,13.17,2.59,20.0,120.0,0.68,1.46,0.60
177,14.13,4.10,24.5,96.0,0.76,1.35,0.61

In [ ]:
missing_values = wine.isna().sum()

In [ ]:
missing_values

In [ ]:
wine.loc[[3], 'magnesium'] = np.nan

In [ ]:
wine

In [ ]:
missing_values = wine.isna().sum()

In [ ]:
missing_values

In [ ]:
random_numbers = np.random.randint(0, 11, 10)

In [ ]:
random_numbers

In [ ]:
np.savetxt("random_numbers.txt", random_numbers)

In [ ]:
random_numbers

In [ ]:
print("Random numbers saved:", random_numbers)

In [ ]:
print(wine['alcohol'].dropna())

In [ ]:
wine = wine.dropna(subset=['alcohol'])    ###subset=['alcohol'] ensures only rows where "alcohol" is NaN are removed

In [ ]:
wine

In [ ]:
wine = wine.reset_index(drop=True)

In [ ]:
wine

In [ ]:
wine.reset_index()

In [ ]:
wine

In [ ]:
import os

In [ ]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"

In [ ]:
chipo = pd.read_csv(url, sep='\t')

In [ ]:
chipo

In [ ]:
print(chipo.head())

In [ ]:
type(chipo)

In [ ]:
chipo["item_price"] = chipo["item_price"].str.replace("$", "", regex=True)
print(chipo.head())

In [ ]:
chipo

In [ ]:
chipo.info()

In [ ]:
chipo = chipo.drop_duplicates(subset=["item_name", "quantity"])   ###removed the duplicates of columns item name and quantity

In [ ]:
chipo

In [ ]:
chipofilter = chipo[["item_name", "item_price"]]

In [ ]:
chipofilter

In [ ]:
chipofilter = chipofilter.sort_values(by="item_price", ascending=False)   ###highest to lowest price

In [ ]:
chipofilter

In [ ]:
chipofilter.head()

In [ ]:
chipofilter.sort_values(by='item_name', ascending=True)

In [ ]:
wine

In [ ]:
chipo

In [ ]:
veggie_salad_count = chipo[chipo['item_name'] == 'Veggie Salad Bowl'].shape[0]

In [ ]:
veggie_salad_count

In [ ]:
canned_soda_orders = chipo[chipo['item_name'] == 'Canned Soda'].shape[0]

In [ ]:
canned_soda_orders

In [ ]:
users = pd.read_csv("occupation.csv" , delimiter='|')

In [ ]:
print(users.head())

In [ ]:
users.info()

In [ ]:
type(users)

In [ ]:
print(users.columns)

In [ ]:
total_per_occupation = users.groupby("occupation").size()

In [ ]:
total_per_occupation

In [ ]:
mean_age_per_occupation = users.groupby('occupation')['age'].mean()

In [ ]:
mean_age_per_occupation

In [ ]:
mean_age_per_occupation = users.groupby(['occupation','gender'])['age'].mean()

In [ ]:
mean_age_per_occupation

In [ ]:
mean_age_per_occupation = users.groupby(['occupation'])['age'].agg(['min','max'])

In [ ]:
mean_age_per_occupation

In [ ]:
gender_counts = users.groupby(['occupation', 'gender']).size().unstack()                   ### Unstack - reshape the data in table format ### groupby(['occupation','gender']).size() - It will count number of men and women in same occupation.
gender_percentage = gender_counts.div(gender_counts.sum(axis=1), axis=0) * 100             ### Convert counts into percentage
gender_percentage = gender_percentage.fillna(0)

In [ ]:
gender_percentage

In [ ]:
student_mat = pd.read_csv("student-mat.csv", delimiter=',')
student_por = pd.read_csv("student-por.csv", delimiter=',')

In [ ]:
df = pd.concat([student_mat, student_por], ignore_index=True)

In [ ]:
df

In [ ]:
df = df.loc[:,'school':'guardian']
df

In [ ]:
capitalize_string = lambda s: s.capitalize()              ####   Use lambda when the function is simple and used only once i.e we used it to capitalize.
print(capitalize_string("at_home"))

In [ ]:
df

In [ ]:
df["Mjob"] = df["Mjob"].apply(lambda x: x.capitalize())                  #####   We can capitalize all elements of variables through lambda function with the  help of "APPLY".
df["Fjob"] = df["Fjob"].apply(lambda x: x.capitalize())

In [ ]:
df

In [ ]:
df.head()

In [ ]:
print(df.head())

In [ ]:
print(df.tail())

In [ ]:
df.info()

In [ ]:
df

In [ ]:
df["Mjob"] = df["Mjob"].str.capitalize()
df["Fjob"] = df["Fjob"].str.capitalize()

In [ ]:
df

In [ ]:
def majority(age):                                                        ####  A function that returns True if the age is 18 or more, otherwise False.
    return age >= 18

df["legal_drinker"] = df["age"].apply(majority)                           ####  Applies this function to the age column
print(df[["age", "legal_drinker"]])

In [ ]:
df[df.select_dtypes(include=['number']).columns] *= 10
print(df.head())

In [ ]:
df

####   SECTION 6

In [ ]:
cars1 = pd.read_csv("cars1.csv",delimiter=',')
cars2 = pd.read_csv("cars2.csv",delimiter=',')

In [ ]:
cars1

In [ ]:
cars2

In [ ]:
cars1.head()

In [ ]:
cars1.tail()

In [ ]:
cars1.info()

In [ ]:
cars1.describe()

In [ ]:
cars1.count()

In [ ]:
pip install pandas pandas-profiling

In [ ]:
cars1